<div  ng-controller='UserCtrl'>
    <div class="brand_login">
    <br>
    <h2>Search</h2>
    <hr/>
 <div class="container-fluid">
   <form id="signin" class="navbar-form navbar-right" role="form">
        <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
              <input type="text" class="form-control" aria-label="...">
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
          <div class="col-lg-6">
            <div class="input-group">
              <input type="text" class="form-control" aria-label="...">
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
          <div class="col-lg-2"><button type="submit" class="btn btn-primary">Search</button></div>
        </div><!-- /.row -->
   </form>    
   </div>
</div>    