<div class='container'>
  <div ng-controller='SocketCtrl'>
    <h2>Chatter</h2>
    <hr/>
    <div class="check-element animate-hide" ng-hide="islogged">
      <div class='col-md-2 users-list' ng-init="loadUsers()">
            <div ng-repeat="contact in contacts">
                <a href="" ng-click='chatWith(contact.email)'>{{contact.username}}</a>  
            </div>
      </div>
      <div class="row">
          
          <div class='col-md-9'>
            <chat-box></chat-box>
          </div>
        </div>
        <div class='row'>
          &nbsp;
        </div>
        <div class='row'>
          <div class='col-md-8'>
            <form role='form' novalidate name='form'>
              <div class='form-group'>
                <input type='text'
                required
                ng-max='50'
                ng-model='message'
                focus>
                <button class='btn btn-sm btn-primary'
                  ng-enable='form.$valid'
                  ng-click="sendMessage(message)">Send!</button>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
<hr/>